n8n_workflow_json/Gemini_example/RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Files",
        "formDescription": "Upload Files",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Files",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .md, .csv"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -380,
        0
      ],
      "id": "7517bada-4a2d-42b5-ad74-a7b0377d059c",
      "name": "On form submission",
      "webhookId": "5cc83a02-81ac-4f09-b4e2-61ab93b3b8d2"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "fredtest",
          "mode": "list",
          "cachedResultName": "fredtest"
        },
        "options": {
          "collectionConfig": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "b5291bd7-8376-4370-9cab-be0a49492736",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Z830jFPQLc9aXd7b",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "2aea9a5e-c11c-4143-9024-b4ec185d05e0",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "0pmZefVpk6MN0Vks",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.Files[0].filename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        360,
        220
      ],
      "id": "15f9c416-09be-49ae-8f7d-76d46486447b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        420,
        420
      ],
      "id": "71d14016-f040-4f16-95fd-46711d0a9452",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ee56fbc-0a0b-4306-aaf5-7c32499633f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d48a6c213f1c63937f899cab0405eb1edb93945f6df55cbc3edf8e6d96d44e9d"
  },
  "id": "CfCMYXq6G1PVLIE6",
  "tags": []
}